[2017-08-21 12:53] cesaregerbino opened #6 "The requested package skyscanner/jsonpath 0.8.0.0 could not be found"
I'm trying to follow the installation instructions, so I've added this ...

[code]

in my composer.json and then I've tried

`composer update`

but my system (Ubuntu 15.10), says ...

[code]
I can't find that file in the repo .... Suggestions?

Cesare

[2017-08-22 09:36] Galbar commented on #6
I can't reproduce in my Ubuntu installation. What I did:
[code]
I got the output:
[code]

Did you check https://getcomposer.org/doc/articles/troubleshooting.md#package-not-found ?

[2017-09-01 13:03] Galbar commented on #6
Did you manage to get it installed?

[2017-09-01 18:52] cesaregerbino commented on #6
Hi Galbar .... following your suggestion I've installed (I think .... ), anyway I've the code now.

I'm quite a newbie in PHP so sorry for the trivial question .... I've tried to build a little example but it doesn't work .... Here you're how I'm organizing my code

![image](https://user-images.githubusercontent.com/4707083/29983605-ff55ec80-8f56-11e7-874b-e7fba9bca2bc.png)

and here you're my cod

[2017-09-01 19:25] cesaregerbino commented on #6
There is ad error in my code ...

`use JsonPath\JsonObject`

probably must be

`use JsonPath/JsonObject`

In thy way the error is

[code]

[2017-09-04 08:13] Galbar commented on #6
Hi! There is one supported and recommended way to install the library: using [composer](https://getcomposer.org/).

`composer`  will create a `vendor/` folder with all the dependencies installed with it. Inside the `vendor` folder there will also be a `autoload.php` file.

Now imagine we have the following file distribution:
[code]
`composer.json` contains the following:
[code]
If we run `composer

[2017-09-04 09:02] cesaregerbino commented on #6
Thanks! I'll try to follow your example ad adapt it at my code!!

[2017-09-06 19:46] cesaregerbino commented on #6
I've tried and now I can replicate your very clear example but I've still some problems .... .

I've tried to execute yout `test.php` and all works fine but if I try to use this code (that is quite similar ....)

[code]
from command line `php testSkyScanner.php` the result is `false`.

How may I specify the json path expression in my code?

Thanks!!!

[2017-09-06 19:52] cesaregerbino commented on #6
I've tried to follow your clear instructions and now all work fine!

Thanks!

[2017-09-06 19:53] #6 closed

[2017-10-24 17:06] DVelbeck opened #9 "Filtering with multiple conditions takes a long time to execute."
Hello,

I am facing performance issue when using your library in my symfony project.
I have a JSON file containing a multidimensional structure and manage to use your library to query this.

I use a query with multiple conditions.

However the execution time is quicker when using my MySQL db compared to using the JSON file.
I have joined the JSON file containing the data and its structure, and a P

[2017-10-24 21:15] ciarazzledazzle commented on #9
Hi @DVelbeck !

IMHO, MySQL will always be faster for complex queries - especially with range queries like yours - simply because it is a database server that is optimised to work with indexes of tables, can compute quite complex execution plans for your queries and its compiled code rather than a scripting language like PHP.  On top of that, being a "smart" server (stateful rather than stateless

[2017-10-24 21:34] DVelbeck commented on #9
Hi Claudiu,

Many thanks for answering.

I do use MySQL for complex queries. However, I am using a data storage as JSON files in order to keep historical data and changes.

That was why I have been willing to use JsonPATH, especially the fact that the data is pre-formated, and ready to use, whereas MySQL you need to make joins.

[2017-10-25 07:58] ciarazzledazzle commented on #9
Hi Daniel!

You know better your infrastructure and requirements, but historical data can be stored in SQL as well, maybe in different tables or a different database altogether.
Just keep in mind that the bigger your JSON, the less optimal the JSONPath queries will be due to lack of indexes and complex query plans. Your whole JSON will be stored in memory, as opposed to disk, there will be no smar

[2017-10-25 09:02] Galbar commented on #9
Hi Daniel,

This library is not optimized for heavy and complex queries. It's main use case is for simple querying over small pre-computed data.

Cheers,
Alessio

[2017-10-25 09:20] Galbar commented on #9
Also, I suggest changing the query to:
[code]

The change is at the beginning, I'm changing `$..*` to `$.data`. It takes about 1 second to run on my laptop with this change.

Think that when you query with `$..*` it will apply the query to all levels inside the json fiel

Hope that helps :)

[2017-10-25 09:32] DVelbeck commented on #9
Hi Claudiu, Alessio, Galbar,

This is awesome! By changing to the right node as Galbar advised, this made the trick !
I can close the issue.
Thanks a lot !

[2017-10-25 09:32] #9 closed

[2017-10-26 13:47] DVelbeck opened #10 "ands and ors execution order"
Hi guys,

I've come across to an other issue due to my complex query which can have a lot of ands and ors.
What I have seen so far is that the result is totally wrong compared to a real MySQL query result executing the same query.

I read there is a limitation saying the ands are executed before the ors, which could explain why my results are wrong.
I have tried to decompose the query by running t

[2017-10-27 08:01] Galbar commented on #10
This is how the query is being interpreted:
[code]
Can you confirm if that is what you meant to query?

[2017-10-27 08:20] DVelbeck commented on #10
Hi @Galbar ,

The query would look like :

@.organisation.id >= 3
and @.organisation.id <= 5
and @.tier >= 1
and @.tier <= 3
and ( @.attributes[8].value.value == 34 or @.attributes[8].value.value == 68 )
and @.tier == 2
and (

@.attributes[43].value.value == 1 or @.attributes[27].value.value == 1
or @.attributes[43].value.value == 2 or @.attributes[27].value.value == 2
or @.attributes[43].value.va

[2017-10-27 10:28] Galbar commented on #10
It would expand to something like this:
[code]

[2017-10-27 15:27] DVelbeck commented on #10
Oh Okay.
Will try this out and let you know :-)

Many thanks.

[2017-11-13 15:27] #10 closed

[2017-11-21 12:00] banstola opened #11 "Get path returns false when not found and when the actual value is false"
Consider the following case:

```{"isAvailable":false}```

If I want to check is is `isAvailable` is exists then I do `$object->get("$.isAvailable")` which will return false but this also implies that this field does not exist. Or is there a way to check certain  path exists or not?

[2017-11-21 14:00] Galbar commented on #11
Hi @banstola,
This behaviour is defined in the specification of JSONPath [0]. The function would return an array with the results or false. This is also the default behaviour in this library:
[code]
As you can see, when the value is there it returns an array with it, and if it is not, it returns `false`.

From your description I imagine you are using the _SmartGet_ feature [1]. With this feature e

[2017-11-21 17:35] banstola commented on #11
Hi,
Thank you for clearing it up. I was using smartGet .

[2017-11-21 17:35] #11 closed

[2018-03-23 20:01] Anand-Moghe opened #15 "Instantiating JsonObject using a smartGet parameter changes empty json object string to empty array string"
I am having a peculier issue while using  JsonObject like below:

```$myJsonPathObject = new JsonObject( $myJsonString, true);```

OR

```$myJsonPathObject = new JsonObject( $myJsonString);```

If your $myJsonString has empty JSON string like ` "Rules" : {}  `, then the empty object notation  is getting converted to empty array [ ]
E.g.

` "Rules" : {}  ` becomes ` "Rules": []  `

**How do I fix t

[2018-03-23 23:39] Anand-Moghe commented on #15
I think this is expected behaviour. So closing the issue.

[2018-03-23 23:39] #15 closed

[2018-03-26 07:46] Galbar commented on #15
Hi! Yes! this is because of how PHP decodes json into an array.

[2018-03-27 16:59] mranon0007 opened #16 "Can't run test"
I belive this is not an issue but I can't figure out how to run the tests.
I installed library using Composer.
Then I ran the following command in terminal:

php \vendor\skyscanner\jsonpathapp\test.php "$..*[?(@.category == 'fiction' and @.price < 10 or @.color == \"red\")].price"

and I get an error "Can't find Autoload.php". Can you please tell me how to run the test case?

[2018-03-28 10:17] Galbar commented on #16
Hi! I had never tried to run the `test.php` from an installed package.

It works if you change the line 18 to `include __DIR__ . '/../../../autoload.php';` in `test.php`.

You can also just clone the repo and it should work out of the box.

Feel free open a PR with a fix.

[2018-04-10 09:59] banstola opened #17 "Creating node using set method"
This is not an issue rather asking for help or suggestion .

I have a situation where I need to create nodes dynamically and it has worked far.

I have two cases
If i want to created an array like `['contacts'=>['firstName'=>'first name']]`
then i can do

$jsonPathObject = new JsonObject([]) ;
$res = $jsonPathObject->set('$.contacts.firstName', 'first name')->getValue();

$res is   `['contacts'=>[

[2018-04-11 00:26] Anand-Moghe commented on #15
It could have been nicer if JsonObject somehow provided additional options for users to preserve the empty object by not using array ( `json_decode( $json_Strin_passed_by_user, true) `) but instead use the stdClass internally (like by using `json_decode( $json_Strin_passed_by_user, false)` ). The issue I was referring to is there because the constructor always forces array conversion instead of co

[2018-04-16 07:59] Galbar commented on #17
Hi!
To get that result you can do `$jsonPathObject->set('$.contacts[0].firstName', 'first name')->getValue();`

Cheers

[2018-04-16 08:00] #16 closed

[2018-04-16 14:54] banstola commented on #17
This works but if in a scenario like below where you have to create an array of arrays  it does not work.

Say I have a data like [[ 'name'=> 'foo' ], ['name'=>'bar']] then I want to create new array using jsonpath set
E.g.
[code]

With my current implementation it always overrides instead of appending to new array to the existing array which I am setting.

I check if an array exists or not if not

[2018-04-19 10:43] Galbar commented on #17
Maybe what you are looking for is `JsonObject::add()`?
[code]

[2018-04-19 11:40] banstola commented on #17
I will try with this. Maybe it does not fit the situation that I am looking for. I am trying to create mapping between two json data so that I could transform one json data to another . I have made a work around for now. Thank you for your help so far.

[2018-04-19 11:40] #17 closed

[2018-04-25 23:15] Anand-Moghe opened #18 "Receiving error while retrieving value for numeric property name"
I have a JSON which has numeric property key.
E.g.
[code]

When I am trying to get the value of the property using JSON path, I am getting exception
Error in JSONPath near '.9845656'

Following is the sample code that throws this error.
 `$jsonObject->get("$.{$jsonPathLocation}.{$key}");`

**How am I supposed to construct the JSON Path so that I can read the value of a numeric property name?**

[2018-04-26 17:12] Anand-Moghe commented on #18
I have found a workaround by using the array syntax:
`$jsonObject->get("$.{$jsonPathLocation}[$indexOfKey_In_Parent_node]");`

[2018-04-26 17:12] #18 closed

[2018-04-30 07:39] Galbar commented on #18
Hi! That is the intended way of dealing with this

[2018-09-11 09:39] shalithaRukshan opened #19 "Can't create json for $.1 ($.integer)"
code:
        $jsonObject = new JsonObject();
        $jsonObject->set('$.1','asdf');
        dd($jsonObject->getJson());

-----------------------------------------------------------------
error :  InvalidJsonPathExceptionError in JSONPath near '.1'

[2018-10-20 00:34] ShaneOH opened #21 "Return non-existent values from getter function"
Hey, I'm looking to have a result set with an even amount of values. Take the following example:

[code]

This results in the following:

[code]

However, I'm looking to have an empty placeholder in the correct order if the key doesn't exist in the JSON. If I go into the library and change `$createInexistent` in `getReal` from `false` (its default value) to `true`, then this results in what I'm ac

[2018-10-24 09:10] Galbar commented on #21
Hi! Thank you for raising this.

I've given it a long thought. Even though it would be nice for this case, this behavior would break things in many other aspects of JSON Path querying.

JSON Path matches the path you give it to get the result. That way you can do `$..foobar` and it will return the values of any `foobar` field at any point in the hierarchy of the data you are querying.

If your sug

[2018-10-25 02:02] ShaneOH commented on #21
Hey @Galbar thanks for responding. Makes sense, and I understand the limitations this change would introduce now that you bring them up. I did end up working around my own issue with some normalizing -- namely querying a "root" path to get a series of sub-objects (products in my own example), and then making separate queries for each field in a loop against each sub-object. More costly but still f

[2018-10-25 02:02] #21 closed

[2019-03-08 22:39] Lukazar opened #23 "Error with alpha-numeric property name"
This is sort of related to https://github.com/Galbar/JsonPath-PHP/issues/18

The issue is if I have a path that looks something like
`$.504Plan` the RE_* regexes within the JsonObject.php fail to match and throw an InvalidJsonPathException.

I've verified that allowing the RE_CHILD_NAME, RE_RECURSIVE_SELECTOR to start with [0-9a-zA-Z] works for my particular case (realizing of course this regex is

[2019-03-09 13:22] Galbar commented on #23
Hi, @Lukazar !

This is by design. The idea is to mimic (to some extent) the behavior of JS:
[code]
The intended way to access these kind of variable names is using the `[]` operator.
For this case it would be: `$['504Plan']`.

Let me know if you have further questions.

Cheers,
Galbar

[2019-03-09 18:19] Lukazar commented on #23
@Galbar Oh! That makes perfect sense.  Thank you for the quick response!

[2019-03-09 18:19] #23 closed

[2019-04-15 14:19] jaaufauvre opened #24 "JsonObject is turning empty objects into empty arrays"
Hi,

The `JsonObject` class turns empty objects into empty arrays and thus is unable to give back the original JSON representation.

For example:
[code]

Is returned as:
[code]

Here is how to reproduce it:

[code]

[code]

Best regards,

[2019-04-17 20:32] Galbar commented on #24
Hi, nice catch!

I checked it. This happens because internally the library is turning everything into arrays.

I've started working in a fix for this. I'll update this issue when the PR is ready :)

I'm not sure how long this will take me (hopefully less than a couple weeks). It is not a simple fix and lately I have limited time for this but I'll do my best!

If you happen to have a fix ready for

[2019-04-17 20:44] Galbar commented on #24
Actually, I went ahead and opened the WIP PR :)

[2019-04-18 09:33] jaaufauvre commented on #24
Unfortunately I don't have a fix.

An idea could be to use objects instead of associative arrays for the internal representation.

This can be achieved with  `json_decode($json)` instead `json_decode($json, true)`.

[2019-05-15 15:18] jordanyoungs opened #27 "Last item of array not working"
I've been trying to use different notations to get the last item in an array of objects. It seems that the '-' character is breaking the code:

`$.Line[-1:].Amount  --> error: Invalid JSON path expression. The error is around character position 7`

`$.Line[-1].Amount  --> error: Invalid JSON path expression. The error is around character position 7`

`$.Line[0].Amount  --> successfully returns the

[2019-05-15 15:38] Galbar commented on #27
Hi @jordanyoungs! Thank you for reporting this. Sadly I'm unable to reproduce it.

I've created a test: https://gist.github.com/Galbar/9dae20c001a98f9efcdff384ea80dd09
Then I tried querying it with your example query:
[code]
The result is the expected:
[code]
I also tried with `[-1:]` and got the same result.

Could you please provide an example that reproduces it?

[2019-05-15 19:17] jordanyoungs commented on #27
Thanks for the quick response! I am able to get that gist working too, so there must be something wrong with my project. Thanks for the help

[2019-05-16 14:44] jordanyoungs commented on #27
I figured out what was going on. Long story short this particular piece of code was using jsonpath in a mysql query, which means the error was coming from mysql, which has different json path syntax! My project uses this library in many other parts so my initial reaction was that it must be coming from here, whoops.

[2019-05-18 10:13] Galbar commented on #27
Cool that you figured it out!
I'll close the issue now

[2019-05-18 10:13] #27 closed

[2019-06-05 15:45] MilesHart opened #29 "Nested and/or's"
I'm nesting a set of and's and or's. I seeing others are also querying similar issues. Can someone help:-

I've formatted the query for ease of reading.

$.parent[?((@.podh_cpf_action == 'Delivered – Left in Plot' or @.podh_cpf_action == 'Delivered – Left on Site (not in Plot)') and (@.podh_cpf_reason_not_ready == 'Already completed' or @.podh_cpf_reason_not_ready == 'No access to plot' or @.podh_

[2019-06-05 17:59] Galbar commented on #29
Hi @MilesHart ,

If you look at the language specification in the README.md it says:

More over, the language specification (of this implementation) says:

Which means that you can not have parenthesis `()` grouping expressions inside the filter expression.

This was done like this because having recursive expressions is added complexity and the current behavior was more than enough for my use cas

[2019-06-05 18:01] Galbar commented on #24
FYI, I am working on this and have something that kind of works in my laptop (I haven't forgotten :wink: ) I've just been busy...

[2019-06-06 06:59] MilesHart commented on #29
@Galbar Thank you so much for your quick response. I thought that was the case, thank you for clarifying.

As a sidebar, do you have example of the following in the documentation?

[code]

Ace job

[2019-06-06 06:59] #29 closed

[2019-06-12 05:55] khageshsaini opened #30 "Absence of getArray() function"
There is no function `getArray()` present in `JsonObject` class.  All the subsequent usage of this function result in error.

https://github.com/Galbar/JsonPath-PHP/blob/3820fd4da177f5cf180aa47260d57086e4e4ba29/src/Galbar/JsonPath/JsonObject.php#L67-L70

It should be included in the class or the usage of this function in readme should be stripped off.

[2019-06-12 09:04] Galbar commented on #30
Hi @khageshsaini, nice catch!
Actually the function `getValue()` does exist and does exactly that.

This function, on the other hand may be interesting when #24 is done, as the internal representation will not be an array and therefore `getValue()` would make no sense to have (what value? the object representation? the array representation? the internal representation? etc.)

As of this issue, I'd

[2019-06-12 09:06] Galbar opened #32 "Update README.md"
`README.md` needs to be updated:
 - [x] https://github.com/Galbar/JsonPath-PHP/issues/29#issuecomment-499373986 : missing examples of jsonpath
 - [x] #30 : change `getArray()` for `getValue()`

[2019-11-07 16:56] MilesHart opened #35 "Quering nested objects"
I have a nested object.

`
{
    "parent":[
    {
        "name":"john",
        "age":"23",
        "child":[
        {
            "name":"paul",
            "age":"3"
        }
        ]
        }
}

`

I want to find the child $..child*[?(@.name == 'paul')]
(not sure that is right in this example. However the problem it does not seem to be return the nest objects, just a flattened version of i

[2019-11-07 17:02] MilesHart commented on #35
I'm a plonker. My mistake. thank you....

[2019-11-07 17:02] #35 closed

[2019-11-08 08:47] MilesHart opened #36 "Returning parent objects - query select from a child"
I have data with parent/child nested object (similar to the store and books example)..

Is it possible to return the parent object??

e.g.

$..book[?(@.category == 'fiction')]

returns all the books with category of fiction. I want to return the store object. So inessence.

Return me all the stores that have a book of category fiction.

[2020-02-06 17:57] cburgmer opened #37 "Results do not match other implementations"
The following queries provide results that do not match those of other implementations of JSONPath
(compare https://cburgmer.github.io/json-path-comparison/):

- [x] `$.2`
  Input:
[code]
  Expected output:
[code]
  Error:
[code]

- [x] `$[0:0]`
  Input:
[code]
  Expected output:
[code]
  Error:
[code]

- [x] `$[?(@.key<42)]`
  Input:
[code]
  Expected output:
[code]
  Actual output:
[code]

- [x]

[2020-05-05 16:25] infisamk opened #38 "ArraySlice"
In sliceIndices condition is:

[code]

But why is not:

[code]

If I get ```$.store.book[1:3]```. I get only second and third items, but not second, third and fourth items.

[2020-05-06 15:31] Galbar commented on #38
It is not a bug, it is by design.

This allows for expressions such as "get the last five elements":
`array[array.length - 5 : array.length]`

All array slice operators I've seen out there work in an non inclusive manner for the ending index.

[2020-05-06 15:31] #38 closed

[2020-05-06 16:01] Galbar commented on #36
To me it looks like you are looking for something like this:
`$[?(@.*[?(@.category == "fiction")].length > 0)]`

PD: Sorry for late answer :/

[2020-05-06 16:18] Galbar commented on #30
Closing this as it is not a real issue with the current implementation, just docs being wrong (which are fixed now)

[2020-05-06 16:18] #30 closed

[2020-05-06 16:25] Galbar commented on #24
Update:
There is a WIP PR with half an implementation of this:  https://github.com/Galbar/JsonPath-PHP/pull/25

Fixing this requires a bigger change than I'm willing to do. Sorry, but it is not happening, unless someone really wants it and implements it :/

[2020-05-06 20:41] infisamk commented on #38
Array is stared from 0 index. Then:

```array[array.length - 5 : array.length - 1]```

Since the last element of the array will have an index ```array.length - 1```, but not ```array.length```, as you wrote.

And if you insist, then you description for example is not right:

The right description for this example is must be:

[2020-05-07 08:43] Galbar commented on #38
Thank you for pointing out the mistake in the documentation. I'll be updating it

[2020-05-13 19:46] chrisvanpatten opened #39 "Remove without field"
I did a bit of experimentation with a PR but wasn't quite able to get it to work, so I thought I'd take this to an issue to look for some ideas on how to implement :)

Given the sample document, I'm interested in being able to use `remove()` without providing a field, e.g. removing all matching paths.

Essentially supporting something like this:

[code]

I tried a simple `unset($element);` in the

[2020-05-29 08:41] Galbar commented on #39
Hi there! Sounds like a good addition.

Have you tried passing an optional parameter to `getReal()` stating the action, ie.`remove`, and have the remove logic happen when traversing the internal array? Instead of appending the match to `$selection` you could unset it from its parent.

[2020-06-01 02:07] TheNorthMemory opened #40 "Would you please release a new stable package?"
Hello,

I found this package via packagist, it was the stable version 1.0 on there. Currently, the `dev-master` were maintains the `.length` feature, would you please release a new stable version on packagist?

[2020-06-01 04:06] keywan-ghadami commented on #40
I found myself also https://github.com/FlowCommunications/JSONPath
wich is also available in packagist
https://packagist.org/packages/flow/jsonpath
and alternative language https://github.com/jmespath/jmespath.php
that looks also promising.

[2020-06-01 11:54] TheNorthMemory commented on #40
Yes, I'd tried use [jmespath.php](https://github.com/jmespath/jmespath.php), it's good, but just had the get/fetch.

And [FlowCommunications/JSONPath](https://github.com/FlowCommunications/JSONPath) was wrote those comments:

This JsonPath is so good so that should be a new stable release here.

[2020-06-01 15:10] Galbar commented on #40
@TheNorthMemory I forgot to do the release when I merged that! I'm doing it now. :smile:

[2020-06-01 15:22] Galbar commented on #40
Ok, I've created the release. Please open a new issue if you find any issues with 1.1 :smile:

[2020-06-01 15:22] #40 closed

[2020-06-10 09:25] glyn opened #41 "JSONPath comparison and standardisation"
@cburgmer's JSONPath comparison project is currently discussing some [issues](https://github.com/cburgmer/json-path-comparison/issues?q=is%3Aissue+is%3Aopen+label%3A%22Proposal+A%22) relating to a proposed implementation of JSONPath known as "Proposal A". May I encourage you to get involved if you are interested in influencing the direction or, indeed, if you want to make your own proposals.

Simi

[2020-06-11 15:37] Galbar commented on #41
Thanks I'll give it a look!

[2020-06-11 15:37] #41 closed

[2020-08-05 14:09] samy opened #42 "JSON keys with spaces"
Hi !
We use your library in our project but I encounter the following problem : how to get data for an entry which has spaces in its key ?
Like this :
[code]
I tried many things like `$.[the date]` or `$[the date]` but didn't succeed:(

Have you any idea ?

Thanks !

[2020-08-05 14:21] Galbar commented on #42
HI @samy ,
You can use quotes `$["the date"]` and `$['the date']`.

You can find the [formal language spec](https://github.com/Galbar/JsonPath-PHP#jsonpath-language) (of this implementation) in the readme.

You can also see [some examples](https://github.com/Galbar/JsonPath-PHP#jsonpath-example) in the readme, too.
There is an example there (which I used as reference to answer you here) that shows

[2020-08-05 16:58] samy commented on #42
After analysis of the formal spec, I think the problem comes from the fact we use spaces AND colons in our keys, and the regex from the specs seems to not support it :(

[2020-08-07 13:16] Galbar commented on #42
Hi @samy could you give me an example of spaces + colon that does not work?

[2021-03-23 15:49] kruggs commented on #42
Hi,
I know it's a bit old, but i had a similar issue.

In my project, i have to exploit a huge feed where some index contains special characters like "@"
Jsonpath does not find or work properly because the "@" is taken as part of the Jsonpath language implementation.

eg:
`
$json = '[{"qwerty@id":"123"}]'
[...]
$obj->get("$..*[?(@.qwerty@id == 123]") => failed
`
As a temporary fix, i strip off all

[2021-03-23 15:57] Galbar commented on #42
Hi @kruggs ,

The following expression should work for you: `$..*[?(@['qwerty@id'] == '123')]`

Please let me know if that solves you issue.

[2021-03-24 09:47] kruggs commented on #42
Hi, @Galbar
Thanks for your answer.
I tried and it's working :)

Thanks

[2021-03-24 10:21] Galbar commented on #42
Closing because original issue is stale and solution should be covered by the discussed approach

[2021-03-24 10:21] #42 closed

[2021-04-04 15:35] bwl21 opened #43 "How can I `and` connect two filter expressions"
[code]

works in https://extendsclass.com/jsonpath-tester.html, but in JsonPath-PHP it does not find a match.

I also tried to use` and ` instead of `&&` (as indicated in readme) but this does not work either.

Any help welcome

[2021-04-04 19:46] Galbar commented on #43
Hi @bwl21,

I just tried with the this query `$.store.book[?(@.category == "fiction" and @.author == "Herman Melville")]` with the example json in he `README.md` and got `[{"category":"fiction","author":"Herman Melville","title":"Moby Dick","isbn":"0-553-21311-3","price":8.99,"available":true}]` as a result.

`and` should work just fine. Could you share a minimal example to reproduce your issue?

[2021-04-04 20:38] bwl21 commented on #43
Thanks for your reply.

[code]

`php testjsopath.php` yields

[code]

you see that the first entry with the `and` does not yield a result.

BTW. It would be great if `and` were `&&`

[2021-04-04 20:54] bwl21 commented on #43
Sorry, I just discoverd that I was using https://github.com/SoftCreatR/JSONPath.

I'll try my testcase with your implementation now.

[2021-04-04 20:57] #43 closed

[2021-04-05 08:20] bwl21 commented on #37
Hi, I just want to bump this issue. I see three different JSONPath implementations for PHP, and I wonder which one to use.

according to #43 I would like to switch to yours, but I am not sure how actively this project is maintained.

In particular, i wonder if `&&` and `||` could be supported for compatibility with other implementations.

[2021-04-05 08:47] Galbar commented on #36
Hi @MilesHart, did this solve your question? can this be closed?

[2021-04-05 09:19] Galbar commented on #37
Hi @bwl21,

This repository is maintained but not actively developed. I'd love to come back when I have some time and do some improvements, but time is limited and I'm currently working on other projects in my free time.

Contributions are very welcome and I'm open to discussing improvements and reviewing PRs, as time allows. I'd suggest to open an issue about the `&&` and `||` operators so we can

[2021-04-05 10:34] bwl21 opened #44 "support && and || as logical operators"
as https://extendsclass.com/jsonpath-tester.html supports && and || operators, it would be great if JsonPath-PHP could do the same.

see #37.

[2021-04-05 16:06] bwl21 commented on #37
I managed to migrate my application to your implementation of JsonPath. Coming from https://github.com/SoftCreatR/JSONPath I had to deals the different behavirour of `==` which in your case also considers types.

I also had to change
[code]
to

[code]

and I don't really know why.

so I guess I am now stuck to your implementation :-)

[2021-04-05 19:14] Galbar commented on #44
So I was checking the code to see how simple would it be to do this. Turns out it was hyper simple. Can you double check if the PR #45 looks like what you meant?

Cheers

[2021-04-07 12:08] bwl21 opened #46 "Returning key of found object"
suppose I have

[code]

`$..[?(@.v=="va")]` returns
[code]

how can I get the key of this object which is `a`  ?

https://extendsclass.com/jsonpath-tester.html suports `~`, such that `$..[?(@.v=="va")]~` returns

[code]

[2021-04-07 12:53] Galbar commented on #46
This is not doable with JsonPath-PHP. I looked around and it does not seem to be part of the spec anywhere other than in [the library backing the site you are sharing](https://github.com/JSONPath-Plus/JSONPath). If you check the [readme](https://github.com/JSONPath-Plus/JSONPath#readme) it states that it is an addition, not provided in the spec.

Aside from that, feel free to implement it and open

[2021-04-07 13:08] bwl21 commented on #46
I do not insist in a particular solution, but I do have the problem to get the key of objects in the result set.

Do you have an Idea of a workaround?

The ^and ~ are proposed in https://github.com/JSONPath-Plus/JSONPath.

There is one more thing which confuses me.

`php app/test.php "$..*[?(@.price==22.99)]"` works fin in JsonPath-PHP but `$..[?(@.price==22.99)]` does not yield a result.

in http

[2021-04-07 14:04] bwl21 commented on #46
thanks for the hint wrt `^` I will try this.
It would be of help if I could get the canonical jsonpath of the result as it is provided in https://jsonpath.com/.

thanks for the explanation about `..`.  It sounds reasonable to me, but it is not compatible with other implementations. So one is stuck.

[2021-04-07 16:09] Galbar commented on #46
As I've said before, I implemented this before there were the number of implementations that exist today. I don't have the time to update this library to match other implementations' features.

Of course, PRs are very welcome 😄

[2021-04-07 16:12] #44 closed

[2021-04-07 17:13] Galbar commented on #44
I just published version 1.2 with this changes

[2021-04-07 17:14] #36 closed

[2021-04-07 21:37] bwl21 commented on #46
with

[code]

`$..*[?(@.ctabbildung == "dbfeld")]` finds the `familienname``

but `$..familienname[?(@.ctabbildung == "dbfeld")]` does not yield a result.

This also happens in https://jsonpath.com/ but I cannot see why.

So in datastructures which uses keys as values (such as `familienname` I still cannot find out how to retrieve objects based on the key and properties of this key..

[2021-04-07 22:09] Galbar commented on #46
In `[?(@.ctabbildung == "dbfeld")]`, `@` is the _value_ of each child of `$..familienname`.

With `$..familienname[?(@.ctabbildung == "dbfeld")]` you are looking for something like `$..familienname.*.ctabbildung: "dbfeld"`, but what you want is `$..familienname.ctabbildung: "dbfeld"`.

I think the query you are looking for is `$..*[?(@.familienname.ctabbildung == "dbfeld")].familienname`.

[2021-04-14 15:39] Galbar commented on #46
hi @bwl21,

Let me know if my last message solved your question.

Regarding the `~` operator, I don't have the time right now to implement it. If you have the time, feel free to open a PR for it.

Cheers!

[2021-04-14 15:48] bwl21 commented on #46
@Galbar thanks for coming back.

I am still trying around but did not get the full understanding.

Nevertheless. What I want is the **keys** of all objects which have a property `ctabbildung`with the value of `dbfeld`.  For exsamle `familienname`.

so I tried `$..*[?(@.*.ctabbildung == "dbfeld")]` and then read the array_keys of the result but still was not successful.

[2021-04-21 21:18] Galbar commented on #46
Hi @bwl21 I don't think there is a way to get the keys using this JSONPath implementation. I think the solution for this would be to add the `~` operation to this implementation.

I have an idea on how to implement the `~` operator but I don't have the time right now. I'm sorry.

The idea would be to duplicate the access operators (`.<child_name>`, `[...]`, `..*`, etc.) and add a `~` at the end of

[2021-04-30 14:52] Galbar commented on #42
Hi @hvsharma63!

I see you are using parenthesis to group logical expressions in your query. You can see in the [README.md](https://github.com/Galbar/JsonPath-PHP#limitations-on-the-specification) how this implementation does not support parenthesis grouping and it is a known limitation. You can get around it by flattening the expression.

Your original expression is:
[code]

The flattened express

[2021-05-01 09:53] hvsharma63 commented on #42
Hey thanks! I'll try this out

[2021-05-26 11:13] kirill533 opened #50 "Extending the lib with possibility to generate flat tables"
I have added extra functionality in my fork. Unfortunatelly I could not extend the by including the lib as dependency and had to modify the core files in the fork.

I think, this could be a great extension and might become the part of the main lib.

Here is the usage example:

JSON:
[code]

The code:
[code]

The result:
[code]

My fork with the implementation: https://github.com/kirill533/JsonPath

[2021-05-26 12:29] Galbar commented on #50
Hi @kirill533!

I've looked at your solution. I was surprised that you could not do this already without modifying the code.

I think that, instead of adding the table-building logic, it'd be better to identify what's missing from the library that prevented you from implementing the table-building logic without having to mess with the internals.

Could you share what obstacles did you meet while t

[2021-05-26 13:34] kirill533 commented on #50
Hi @Galbar , thanks for the fast reply.

I could find 2 reasons, why I could not do the implementation separatelly from the core logic of the lib:

1.

For the efficiency and for simplicity of the solution I did not want the full path to be resolved for each "column" in the "table". Therefore I needed to call JsonObject::getReal method with different first argument (passing a subtree instead of $t

[2021-05-27 20:12] kirill533 commented on #50
Hi @Galbar,

thank you for code sample. This is indeed interesting implementation that I did not consider. For my current needs I am ok with the current solution in my implementation, even though it may require extra work to maintain it. This is just a small part of the software I am building.

My goal was more to contribute to your library with extra functionality. And it is less about making my

[2021-05-28 16:09] Galbar commented on #50
Thanks for the contribution, I really appreciate it. It made me realize of an use case that I hadn't thought of before: custom logic built on top of the language parser.

I'm not going to include `getTable()` in this library. I think its place is outside of this library, probably using this library as a depencency when the refactor is done.

I'm slowly working in extracting the private functionali

[2021-06-01 11:47] Galbar commented on #50
Hi @kirill533,

I've opened #52. I won't merge it yet. I want to add some docs and update the readme (this PR alone will increase a lot the API surface of the library :facepalm:).

I was wondering if you could give it a look and let me know if the exposed functionality would allow you to create your `getTable()`?

[2021-07-26 19:06] Galbar commented on #50
I just merged the PR

[2021-07-26 19:06] #50 closed

[2021-08-19 19:50] baohx2000 opened #53 "Length operator now returning array instead of number (after switching to 1.3)"
On upgrading from 1.2 to 1.3, quite a few of our tests broke since the `.length` query now seems to return an array with the length in most cases instead of the raw count.

[2021-08-19 20:00] Galbar commented on #53
Oops! My bad! I just checked and it looks like at some point I changed the behavior of `.length` and then forgot about the breaking change!

`.length` now works as all other queries: returns an array with the results, unless smartGet is set to true, then it returns the actual result, if the path does not diverge.

This is a breaking change and I should have published it in a different major versio

[2021-08-19 20:18] #53 closed

[2021-08-19 20:22] Galbar commented on #53
I've created release `1.3.1` that should work as expected. Please, let me know if there's any other issues you may find

[2021-08-19 20:27] baohx2000 commented on #53
Thanks for the super fast turnaround!

[2021-08-19 20:30] Galbar commented on #53
It was an easy one. Also, I kind of hate breaking SemVer :sweat_smile:

[2021-12-01 14:40] nicoren-tangkoko opened #56 "Compatibility with json-ld"
Hi, in first thank you for your work.

### Context :
I am using a rest web service returning json-ld returning following response :

`{
    "@context": "/api/contexts/Datarow",
    "@id": "/api/v1/datasets/27910054-d705-4d5d-8dd9-01929175f4b6/rows",
    "@type": "hydra:Collection",
    "hydra:member": [
        {
            "@id": "/api/v1/row/e4aa9627-68a1-4bf6-ba04-3256d2e96e29",
            "@

[2021-12-01 15:05] Galbar commented on #56
For non-valid javascript variable names, you can use the `[]` notation: `$['hydra:member'][*]`.

FYI, you can avoid the final `[*]` with any of these two options:
Normal:
[code]
Using [_smartGet_](https://github.com/Galbar/JsonPath-PHP#smartget):
[code]

In either case `$items` will contain the same result and the jsonPath query will run faster.

[2021-12-01 15:38] nicoren-tangkoko commented on #56
I close this issue. Thank you again.

[2021-12-01 15:38] #56 closed

[2022-06-30 09:38] drugan commented on #46
I am not sure if that is relevant to this issue but may be someone will find it useful:

#59

[2022-07-29 10:52] kohlerdominik opened #60 "Bug when using negative index triggers DivisionByZeroError"
Hi
I'm just stumbled across a bug when using negative index, but the element with this index does not exist.
The error can be triggered like this:

[code]

When less objects are present than the negative index, it does overflow, and this seems strange to me. But at least it does not trigger an Error. This might be a secondary bug:
[code]

In case index is less than the size of the object, everythi

[2022-07-29 12:09] Galbar commented on #60
Hi @kohlerdominik,

Thanks for reporting the bug!

I had a quick look at the code and my guess would be that it is caused by the mod operation (`%`) in this part of the code: https://github.com/Galbar/JsonPath-PHP/blob/eab3a7e97d1bcf23b77df87c5ada241789b17c79/src/Galbar/JsonPath/Expression/IndexList.php#L24-L37

It would seem that by adding an early exit to that method if the array (`$partial`) is

[2022-07-31 09:18] kohlerdominik commented on #60
Hi @Galbar

Yes, the early return would fix this I guess. However, why is the mod there in the first place? When I'm quering non-existing negative index with the most starred JsonPath implementation in Github, which is [json-path/JsonPath](https://github.com/json-path/JsonPath), it returns an empty result instead of overflowing. For me personally, this behaviour makes a lot more sense than the cur

[2022-08-01 15:04] Galbar commented on #60
It is implemented because the original JsonPath specification explicitly defines it: https://goessner.net/articles/JsonPath/
![image](https://user-images.githubusercontent.com/3595851/182179844-fc32bb05-95aa-4d88-9370-45203840106b.png)

[2022-08-03 11:25] oschwier opened #61 "Whitespaces in jsonPath"
What can I do if there are whitespaces within the jsonPath?

Path looks like:

```$.Technische Daten.Abmessungen```

[code]

returns false

Debug Output:
[code]

[2022-08-03 12:16] Galbar commented on #61
Hi @oschwier, this seems to be a duplicate of #42.

Could check if the solution works for you and, if that is the case, close this issue?

If that doesn't fix it for you, let me know

[2022-08-03 12:27] oschwier commented on #61
Ah sorry, missed that issue! Seams to work! Thanks for the quick response!

[2022-08-03 12:27] #61 closed

[2022-08-04 17:49] ShaneOH opened #62 "Querying the literal key "length"?"
Hey @Galbar !'ve encountered an interesting issue here, we have the following example JSON:

[code]

We want to query with the following: `$.box.length.*.data.amount`

But it looks like that is conflicting with the actual _function_ `.length`, and we're hitting this Exception:

[code]

Is there any way around this? How can we query on the _key_ of `"length"` rather than calling the _function_ `.le

[2022-08-18 10:30] Galbar commented on #62
Hi @ShaneOH, I have tried to reproduce your problem but I was unable to get the error you are seeing.

As you can see, I added a new test in https://github.com/Galbar/JsonPath-PHP/commit/5e4f1f83649bf19ed5f8bdb830c11150650c9252 with the same test case you provide. That commit passes all tests, as you can see in the [corresponding pipeline](https://github.com/Galbar/JsonPath-PHP/runs/7896570850).

[2022-08-31 14:05] kohlerdominik commented on #60
Hi Galbar

I totally missed your response, sorry about that!

I am sorry that I have to disagree. Neiter can I see that the specification tells, that negative index should do overflow.
Also when using this expression with Goessner Jsonpath Implementation, it returns false rather than `2` in this implementation:
![grafik](https://user-images.githubusercontent.com/18621527/187697985-8963bba5-dd2e-48

[2022-09-01 20:07] Galbar commented on #60
oh, I think I had misunderstood. The problem is that if you have an array of size 5, when using indexes below -4 it wraps around instead of returning "not found".

Is my understanding now correct?

If that is the case, then that would be a bug present since the beginning and it would "break" backwards compatibility. It does make sense to fix it, though.

[2022-09-02 15:09] kohlerdominik commented on #60
Hi Galbar

Yes exactly, that's what I meant. The bug with the "DivisionByZeroError" only existed, because of this extra implementation that it does wrap if negative index is less than max size. But this wrap is unspecified and also unseen in other implementations, therefore it seems very curious to me, that it exists in the first place.

[2022-09-13 08:51] cburgmer commented on #60
Just to call out, this issue was also found in the comparison project earlier: https://github.com/cburgmer/json-path-comparison/blob/master/bug_reports/PHP_galbar-jsonpath.md

Let me know if more visibility could help this project here.

[2022-11-17 21:34] oliverbj opened #63 "Get parent by child"
Hey!

First of all - great package! Thank you for porting this to PHP.

I am trying to select a parent node (nested), by querying a child node. Example:

[code]

I want to get all `Note` objects, where `Visibility.Code == PUB`.

I can do this using the below query:

[code]

Note the `^` at the end. This takes the parent node. However, if I try to do this using JsonPath-PHP, I get the following err

[2022-11-17 21:54] Galbar commented on #63
This library does not implement the parent operator `^`.

Instead you can do something like `'$..NoteCollection[?(@.Visibility.Code == "PUB")]'`, which for your example above returns:
[code]

[2022-11-17 21:54] #63 closed

[2022-11-17 21:55] #62 closed

[2022-11-18 10:11] oliverbj commented on #63
Thank you! It worked :)

Can I ask you where you test the JSONPath? I use https://jsonpath.com/ - and the JSONPath you provided is invalid here (but works fine in my code).

[2022-11-18 10:20] Galbar commented on #63
I test my queries using the file `app/test.php` in the repository. It's usage is:
`Usage: app/test.php <jsonpath> [<file to json>]`.

Also, in the [README](https://github.com/Galbar/JsonPath-PHP#readme) file you can find this implementation's [language specification](https://github.com/Galbar/JsonPath-PHP#jsonpath-language) and [examples](https://github.com/Galbar/JsonPath-PHP#jsonpath-example) de